/* Kurang paham komp num */

body {
    min-width: fit-content;
    /* min-height: fit-content; */
}
.btn-orange{
    color: rgb(255, 255, 255);
    background-color: rgb(240, 143, 17);
}
.navbar{
    position: relative;
    z-index: 1;
}
.form{
    position: relative;
    width: 100vw;
    z-index: 2;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: black;
            opacity: 0.7; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: black;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: black;
 }

.kotak{
    /* display: none; */
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 1px rgba(50, 50, 50, 0.3);
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(255, 255, 255, 1);
}
.kotak2{
    /* display: none; */
    color: rgb(0, 0, 0);
    /* box-shadow: 0px 0px 15px 1px rgba(50, 50, 50, 0.3); */
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}
.kotak3{
    /* display: none; */
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 1px rgba(50, 50, 50, 0.3);
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

body::before{
    content: '';
    position: fixed;
    display: block;
    z-index: 0;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("stars-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.display-sign-up{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    top: 0;
    margin-top: 200px;

}
.display-sign-in{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    top: 0;
    margin-top: 200px;

}
.pesan{
    position: relative;
    z-index: 4;
    background-color: black;
}
.tabel, .tombol{
    position: relative;
    z-index: 2;
}
table tr td button a{
    text-decoration: none;
    color: white;
}
